[submodule "libjpeg-turbo"]
	path = libpolaroid/src/main/cpp/third_party/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo
[submodule "libusb"]
	path = libpolaroid/src/main/cpp/third_party/libusb
	url = https://github.com/libusb/libusb.git
[submodule "libuvc"]
	path = libpolaroid/src/main/cpp/third_party/libuvc
	url = https://github.com/libuvc/libuvc.git
